@font-face {
    font-family: "Li Bijoy Irsha Unicode";
    src: url(../fonts/LiBijoyIrshaUnicode-Regular.ttf) format("truetype");
}
* {
    margin: 0;
    padding: 0;
}

ol,
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
    margin: 0;
    padding: 0;
}

.form-control:focus {
    box-shadow: none;
}

input:focus {
    box-shadow: none;
    outline: unset;
}

textarea:focus {
    box-shadow: none;
    outline: unset;
}

select:focus {
    box-shadow: none;
}

body {
    font-family: 'Li Bijoy Irsha Unicode'!important;
}
.custome_width {
    max-width: 1440px;
    padding: 0 80px;
}

/* =============== COMMON CSS FOR WEB SITE =============== */
:root {
    --bg_color: #488fed ;
}

h1 {
    font-size: 55px;
    line-height: 65px;
    color: #d5d5d5;
    font-weight: 700;
}

h2 {
    font-size: 36px;
    line-height: 50px;
    font-weight: 700;
    color: var(--header_color);
}

h3 {
    font-size: 22px;
    font-weight: 700;
    line-height: 30px;
    color: var(--header_color);
}

p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 15px;
    color: var(--text_color);
}

a {
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    color: #16335D;
    transition: all linear .2s;
    display: block;
}
a.bg button {
    background: #FEC827;
    box-shadow: 0px 67px 80px rgba(24, 26, 25, 0.38), 0px 43.4259px 46.8519px rgba(24, 26, 25, 0.1931), 0px 25.8074px 25.4815px rgba(254, 200, 39, 0.0425185);
    border-radius: 127px;
    padding: 24px 70px;
    margin-top: 30px;
}

.d_flex {
    display: flex;
    align-items: center;
}

.d_justify {
    justify-content: space-between;
}

.section_gaps {
    padding-top: 100px;
}


input, label, textarea{
    font-size: 16px;
}

button{
    border: none;
}



/* ---------------------------------------------------------------------------------------------------------------------------------------------------
    START banner PART
--------------------------------------------------------------------------------------------------------------------------------------------------- */
#banner{
    background-image: url(../images/banner.png);
    background-repeat: no-repeat;
    background-position: center;
    padding: 50px 0;
    background-size: cover;
} 
#banner .text {
    margin: 30px 0;
}
#banner .text h3 span {
    color: #FEC827;
}
#banner .text h3 {
    font-weight: 400;
font-size: 60px;
line-height: 94px;

/* Honey primary */

color: white;
}
#banner .text h5 {
    font-weight: 600;
    font-size: 32px;
    line-height: 42px;
   
    text-decoration-line: line-through;
    color: #A8DE63;
} 
#banner .text h4{
    font-style: normal;
font-weight: 400;
font-size: 50.99px;
line-height: 110%;
/* identical to box height, or 56px */


/* Honey other-1 */

color: #F22512;
}




/* ---------------------------------------------------------------------------------------------------------------------------------------------------
    order banner
--------------------------------------------------------------------------------------------------------------------------------------------------- */
#order_banner .order_banner_content {
    background-image:url(../images/order_banner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 48px 308px;
    text-align: center;
}
#order_banner .order_banner_content h4{
    font-weight: 400;
    font-size: 40px;
    line-height: 53px;
    text-align: center;
    color: #F22512;
}
#order_banner .order_banner_content h3{
    font-family: 'Manrope';
    font-weight: 800;
    font-size: 51px;
    line-height: 70px;
    color: #042117;
    margin-top: 8px;
}



/* ---------------------------------------------------------------------------------------------------------------------------------------------------
    order item  PART
--------------------------------------------------------------------------------------------------------------------------------------------------- */
#order_item_click .text{
    text-align: center;
    padding: 10px 90px;
   
}

#order_item_click .text .bg button{
    background: #FEC827;
    box-shadow: 0px 25px 46.8519px rgba(30, 20, 10, 0.1931);
    border-radius: 127px;
}
#order_item_click .text h4 {
    font-weight: 400;
    font-size: 32px;
    line-height: 42px;
    text-align: center;
    color: #042117;
    margin-top: 45px;
}




/* ---------------------------------------------------------------------------------------------------------------------------------------------------
    prevent item  PART
--------------------------------------------------------------------------------------------------------------------------------------------------- */
#prevent-item{
    background-image: url(../images/Vector\ \(3\).png);
    background-repeat: no-repeat;
    background-position: center;
    padding: 50px 0;
    background-size: cover;
}
#prevent-item h3{
    
font-style: normal;
font-weight: 400;
font-size: 44px;
line-height: 69px;
text-align: center;
margin: 50 0;

/* Honey secondary */

color: #042117;
}
#prevent-item .text{
    background: #FFF9E8;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.03), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0227778), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0182222), 0px 20px 13px rgba(0, 0, 0, 0.015), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.0117778), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00722222);
    border-radius: 10px;
    padding: 9px;
    text-align: center;
    margin-top: 59px;
}
#prevent-item .text .text_boarder{
    border: 1px solid #F9BE20;
    filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.03)) drop-shadow(0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0227778)) drop-shadow(0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0182222)) drop-shadow(0px 20px 13px rgba(0, 0, 0, 0.015)) drop-shadow(0px 8.14815px 6.51852px rgba(0, 0, 0, 0.0117778)) drop-shadow(0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00722222));
    border-radius: 10px;
    padding: 48px 26px;
}


/* ---------------------------------------------------------------------------------------------------------------------------------------------------
    honey   PART
--------------------------------------------------------------------------------------------------------------------------------------------------- */

#product_order h2{
    font-weight: 400;
    font-size: 44px;
    line-height: 69px;
    
    color: #042117;
    margin-bottom: 75px;
}
#product_order .text {
    margin-top: 15px;
}
#product_order .text svg {
    color: #FEC827;

}
#product_order .text h4{
    
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    color: #5B5858;
    margin-left: 25px;
}
#product_order .text_order_honey .bg {
    text-align: center;

}
#product_order .text_order_honey .bg button{
    background: #FEC827;
    box-shadow: 0px 25px 46.8519px rgba(30, 20, 10, 0.1931);
    border-radius: 127px;
   
}
#product_order .text_order_honey h3{
    font-family: 'Li Bijoy Irsha Unicode';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 69px;
    color: #F22512;
    text-align: center;
}
#product_order .text_order_honey h5{
    font-family: 'Li Ador Noirrit';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 42px;
    text-align: center;
    color: #042117;
}


/* ---------------------------------------------------------------------------------------------------------------------------------------------------
    START  PART
--------------------------------------------------------------------------------------------------------------------------------------------------- */




/* ---------------------------------------------------------------------------------------------------------------------------------------------------
    comintment partPART
--------------------------------------------------------------------------------------------------------------------------------------------------- */
#comitment_part{
    background-image: url(../images/icon/Group\ 1000000850\ \(2\).png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   padding:  102px 357px;
}
#comitment_part .text h3{
    font-family: 'Li Bijoy Irsha Unicode';

font-weight: 400;
font-size: 44px;
line-height: 69px;
text-align: center;
color: #042117;
}
#comitment_part .text p{
    font-family: 'Li Ador Noirrit';

font-weight: 400;
font-size: 32px;
line-height: 42px;
text-align: center;
color: #5B5858;
}




/* ---------------------------------------------------------------------------------------------------------------------------------------------------
    customer review  PART
--------------------------------------------------------------------------------------------------------------------------------------------------- */
#customer-review h3{
    font-family: 'Li Bijoy Irsha Unicode';
    font-weight: 400;
    font-size: 44px;
    line-height: 69px;


text-align: center;

color: #042117;
}
#customer-review .text{
    background: #FFFFFF;
    box-shadow: 0px 10px 50px rgba(222, 222, 222, 0.5);
    padding: 35px 35px;
    margin-top: 71px;
}
#customer-review .text h5{
    font-family: 'Manrope';
    font-weight: 500;
    font-size: 20px;
    line-height: 160%;
    letter-spacing: 0.5px;
    color: #042117;
    margin-left: 20px;
}
#customer-review .text p {
    font-weight: 300;
    font-size: 15px;
    line-height: 164.7%;
    color: #5B5858;
    margin-top: 30px;
}



/* ---------------------------------------------------------------------------------------------------------------------------------------------------
    START form_part PART
--------------------------------------------------------------------------------------------------------------------------------------------------- */
#form_part{
    padding: 100px 0;
    background: url('../images/form_bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#form_part h2{
    color: #663807;
}

.form_part_content{
    margin-top: 60px;
}

.form_part_content h3{
    color: #663807;
    font-family: 'Manrope', sans-serif;
    font-size: 20px;
    line-height: 30px;
}

.custome_input{
    margin-top: 20px;
}

.custome_input label{
    color: #663807;
    margin-bottom: 15px;
    display: inline-block;
}

.custome_input label span{
    color: #663807;
    margin-left: 5px;
}

.custome_input input{
    width: 100%;
    padding: 10px 20px;
    border-radius: 5px;
    background: none;
    border: 1px solid #663807;
    color: #663807;
}

.payment{
    background: #FFFFFF;
    box-shadow: 0px -68px 80px rgba(0, 0, 0, 0.03), 0px 35px 46.8519px rgba(0, 0, 0, 0.0227778), 0px -3px 25.4815px rgba(0, 0, 0, 0.0182222), 0px 20px 13px rgba(0, 0, 0, 0.015), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.0117778), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00722222);
    border-radius: 8px;
    width: 285px;
    margin-top: 50px;
}

.payment h4{
    font-family: 'Manrope', sans-serif;
    font-size: 20px;
    line-height: 30px;
    color: #663807;
    padding: 20px;
}

.payment .checkbox{
    padding: 20px;
    padding-top: 0;
    margin-top: 0;
}

.payment .checkbox input{
    color: #663807;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.payment .checkbox label{
    color: #663807;
    margin-bottom: 0;
}

.arrow_bg {
    background: #663807;
    position: relative;
    border-radius: 0 0 7px 7px;
}

.arrow_bg::after {
    position: absolute;
    content: '';
    top: -15px;
    left: 20%;
    width: 30px;
    height: 15px;
    border-bottom: solid 15px #663807;
    border-left: solid 15px transparent;
    border-right: solid 15px transparent;
}

.arrow_bg p{
    font-family: 'Manrope', sans-serif;
    color: #663807;
    padding: 10px 20px;
}

.product_part{
    border: 1px solid #663807;
    margin-top: 30px;
    border-radius: 10px;
}


.product_part ul li{
    padding: 20px;
    border-bottom: 1px solid #663807;
}

.product_part ul li:last-child{
    border-bottom: 0;
}

.product_part ul li p{
    font-family: 'Manrope', sans-serif;
    color: #663807;
}

.product_part ul li .left{
    width: 70%;
}

.product_part ul li .left .img{
    margin-right: 10px;
}

.product_part ul li .left .text h4{
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    color: #663807;
}

.product_part ul li .middle{
    width: 5%;
}

.product_part ul li .middle span{
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    color: #663807;
}

.product_part ul li .amount{
    width: 25%;
    text-align: right;
}

.product_part ul li .amount h3{
    font-size: 18px;
    line-height: 24px;
    color: #663807;
}

.product_part ul li h5{
    font-size: 18px;
    line-height: 24px;
    color: #663807;
}

.product_part .outside .item{
    margin-bottom: 15px;
}

.product_part .outside .item:last-child{
    margin-bottom: 0;
}

.product_part .outside .item label{
    color: #663807;
    margin-left: 10px;
    font-family: "LiAdor";

}

.product_part .outside .item input{
    width: 20px;
    height: 20px;
    font-family: "LiAdor";
}

.form_part_content .dexcription {
    margin-top: 20px;
}

.form_part_content .dexcription p{
    font-family: 'Manrope', sans-serif;
    color: #663807;
    font-weight: 300;
    line-height: 28px;
}

.form_part_content .dexcription p a{
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    line-height: 28px;
    font-size: 16px;
    color: #663807;
}

.form_part_content .dexcription button{
    width: 100%;
    font-family: 'Manrope', sans-serif;
    font-size: 20px;
    border-radius: 10px;
    background-color: #663807;
    color: #fff;
    padding: 10px 30px;
}

.form_part_content .dexcription button svg{
    margin-right: 10px;
}

 /* footer  */


#footer .footer_last{
    text-align: center;
    margin-top: 15px;
}
#footer .text h4{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 160%;
    color: #042117;

}
#footer .text h6{
    font-family: 'Manrope';
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #5B5858;
}
#footer .icon h5{
    font-family: 'Manrope';
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #5B5858;
}
#footer .icon img{
    margin-right: 10px;
    margin-top: 10px;
}
#footer .footer_last{
    border-top: 2px solid #EBEAE8;
}
#footer .footer_last h5 {
    font-family: 'Manrope';
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #5B5858;

}





/* ---------------------------------------------------------------------------------------------------------------------------------------------------
    START  PART
--------------------------------------------------------------------------------------------------------------------------------------------------- */




/* ---------------------------------------------------------------------------------------------------------------------------------------------------
    START  PART
--------------------------------------------------------------------------------------------------------------------------------------------------- */




/* ---------------------------------------------------------------------------------------------------------------------------------------------------
    START  PART
--------------------------------------------------------------------------------------------------------------------------------------------------- */




/* ---------------------------------------------------------------------------------------------------------------------------------------------------
    START  PART
--------------------------------------------------------------------------------------------------------------------------------------------------- */




/* ---------------------------------------------------------------------------------------------------------------------------------------------------
    START  PART
--------------------------------------------------------------------------------------------------------------------------------------------------- */
